<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz de Anime</title>
</head>
<body>
    <h1>Quiz de Anime</h1>
    
    <form method="POST" action="{{ url_for('routes.quiz') }}">    
            <p>{{ question.question }}</p>
        
        {% for option in question.response %}
             <input type="radio" id="answer{{ loop.index }}" name="user_response" value="{{ loop.index }}" required>
             <label for="answer{{ loop.index }}">{{ loop.index }}. {{ option['option'] }}</label><br>

        {% endfor %}
        <input type="submit" value="Enviar" />
    </form>

    <p>{{ feedback }}</p>
</body>
</html>