<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz de Anime</title>
</head>
<body>
    <h1>Quiz de Anime</h1>
    
    <form method="POST" action="{{ url_for('quiz') }}">
        <p>{{ question.question }}</p>
        
        {% for i, option in enumerate(question.response, start=1) %}
            <input type="radio" name="user_response" value="{{ i }}"> {{ option.option }}<br>
        {% endfor %}

        <input type="submit" value="Responder">
    </form>

    <p>{{ feedback }}</p>
</body>
</html>
